
.xyears-blog {
  margin-top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xyears-blog > a {
  margin-right: 6px;
  border-bottom: 0px;
}

.not-by-ai {
  margin-top: 9px;
}

.not-by-ai img {
  width: 110px;
}

.footer-inner .vendors-list img[src$=".png"] {
  filter: none;
}