<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
  <meta name="author" content="{% if site.author.name %}{{ site.author.name }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html,'' }}">
  <link rel="stylesheet" href="{{ site.assets_path }}/css/style.css" media="all">
  <!-- atom & rss feed -->
  <link href="{{ site.rss_path }}" type="application/rss+xml" rel="alternate" title="{{ site.title }} RSS Feed">
  <link href="{{ site.atom_path }}" type="application/atom+xml" rel="alternate" title="{{ site.title }} ATOM Feed">

  <meta name="renderer" content="webkit|ie-stand">
	
  <meta name="baidu-site-verification" content="gNUHjkTKC4" />
  <meta name="baidu_union_verify" content="1df5d49c89719fb40e32f353dbf9812d">
  <meta name="msvalidate.01" content="FE0D1D87A075E1003B82C7446EE360ED" />
  
  <meta name="google-site-verification" content="KZ8KPfBCtBSWY_O1EIH6UVq-hX2b1Bs0Ch2VHuaxJIU" />
	
  <!-- 网络爬虫 -->
  <meta name="googlebot" content="index,follow,noarchive"/>
  <meta name="baiduspider" content="index,follow,noarchive"/>
  <meta name="slurp" content="index,follow,noarchive"/>
  <meta name="ia_archiver" content="index,follow,noarchive"/>
  <meta name="msnbot" content="index,follow,noarchive"/>

</head>
